<p>listedeslivres works!</p>


<ul>
    <li *ngFor="let book of books">
        <table>
            <tr>
                <td>
                    <h2>{{ book.title }}</h2>
                    <p>{{ book.description }}</p>
                    <p>{{ book.text }}</p>
                </td>
                <td>
                    {{ book.price | currency:'EUR':'symbol':'.2' }}
                    <img src="{{ book.imageUrl }}" />
                </td>
            </tr>


        </table>
    </li>


</ul>

<!-- <h1>"title"</h1>

<h2>description</h2> -->


<!--
        {
        "title": "Numérique et Sciences informatiques 1re",
        "description": "Prépabac: nouveau programme de Première 2019-2020",
        "imageUrl": "https://philippe.afpa-balma.fr/ng/images/nsi1ere.jpg",
        "text": "Un outil de travail complet et efficace, conforme au programme en 1re du nouvel enseignement de spécialité «  Numérique et sciences informatiques  ». De nombreuses ressources  – le cours, les méthodes clés, des exercices progressifs –, pour vous accompagner tout au long de votre Première.",
        "price": "12.9"
    }
-->